<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="TvixPlayerProV2" version="1.0.3" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:app-control>
        <tizen:operation name="http://samsung.com/appcontrol/operation/eden_resume"/>
    </tizen:app-control>
    <tizen:application id="TvixPlayerProV2" package="TvixPlayerProV2" required_version="6.5"/>
    <author href="https://tvixplayer.com" email="info@tvixplayer.com">TvixPlayer Team</author>
    <content src="index.html"/>
    <tizen:content-security-policy>default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: *; media-src 'self' data: blob: *;</tizen:content-security-policy>
    <tizen:content-security-policy-report-only>default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: *;</tizen:content-security-policy-report-only>
    <description>TvixPlayer Pro - Premium IPTV and VOD Player for Samsung TV</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/tv"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <icon src="app_launcher.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.preview" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="6.5"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/category" value="Entertainment"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/resolution" value="1920x1080"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prefer.index" value="index.html"/>
    <name>Samsung</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.display"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
